{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="auth-container">
        <h1>Mon Etab</h1>
        <form method="POST" id="loginForm">
            {% csrf_token %}
            <div class="input-group">
                <label for="pseudo">Pseudo</label>
                <input type="text" id="pseudo" name="username" required>
            </div>
            <div class="input-group">
                <label for="motdepasse">Mot de Passe</label>
                <input type="password" id="motdepasse" name="password" required>
            </div>
            <button type="submit">Se Connecter</button>
            <p>
                <h5>
                    Vous n'avez de compte <a href="{% url 'login:sign_up' %}">Cliquer Ici</a>
                </h5>
            </p>
        </form>
    </div>
    <script src=""></script>
</body>
</html>
