{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-1 p-6">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-semibold"> Ecoles: {{ school_count }}</h1>
      <a
        href="{% url 'user:school' %}"
        class="flex items-center text-blue-500 hover:text-blue-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4v16m8-8H4"
          />
        </svg>
        Nouvelle Ecole
      </a>
    </div>
    <div class="bg-white p-6 rounded-lg shadow overflow-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nom de l'école
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              l'url du logo
            </th>
            <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            App Setting
          </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for school in schools %}
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{school.name}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{school.url_logo}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{school.appSetting.smtp_server}}</td>
            
            <td class="px-6 py-4 whitespace-nowrap">
              <a href="{% url 'user:update_school' school.id %}"
                class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-4 rounded"
              >
                Modifier
            </a>
            
        </td>
      </tr>

      {% endfor %}
      
    </tbody>
  </table>
</div>
</div> 

{% endblock content %}